.SearchResults {
  margin: 20px auto;
  width: 70%;
  border: 1px solid gray;
  height: 500px; /* Limit the height to 1.5vh */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add some padding if needed */
  box-sizing: border-box;
}
.SearchResults::-webkit-scrollbar {
  display: none;
}
.SearchResults h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: white;
}

.TrackList {
  display: flex;
  flex-direction: column;
}
