.SearchResults {
  margin: 0 20px;
  width: 50%;
  border: 1px solid gray;
  border-radius: 8px;
  height: 500px; /* Limit the height to 1.5vh */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add some padding if needed */
  box-sizing: border-box;
}
.SearchResults::-webkit-scrollbar {
  display: none;
}
.SearchResults h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: white;
}
