.PlaylistList {
  display: flex;
  flex-direction: column; /* Stack playlist items vertically */
  /* justify-content: center; Center the items horizontally */
  border: 1px solid gray;
  padding: auto;
  /* width: 400px; */
  height: 500px;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add some padding if needed */
  box-sizing: border-box;
}
.PlaylistList::-webkit-scrollbar {
  display: none;
}
