.App {
  text-align: center;
}

.App h1 {
  font-size: 3em;
  margin-top: 20px;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  align-content: start;
  margin-top: 20px;
}
img {
  width: 300px;
  height: 150px;
}
